fastapi
uvicorn[standard]
pymongo
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib
bcrypt
pyjwt
python-multipart
motor
python-dotenv
email-validator
cloudinary
jinja2
certifi
reportlab
pandas
stripe